*~
node_modules

# have to add the bundle to version control so deployment with git subtree works
# browser-bundle.js

browser-bundle.js.map
skeleton.css
.vscode
q-calculator.sublime-project
q-calculator.sublime-workspace